{% extends "dashboard/base.html" %}

{% block dashboard_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">
                <h1 class="page-header">Submissions</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Module</th>
                            <th>Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>-1</td>
                            <td>Placeholder title</td>
                            <td>Placeholder module</td>
                            <td>{}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
