{% extends "dashboard/base.html" %}

{% block dashboard_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">
                <h1 class="page-header">All submissions</h1>
                <div class="table-responsive">
                    <table class="table table-striped"
                           style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th class="col-sm-1">Title</th>
                            <th class="col-sm-1">Module</th>
                            <th class="col-sm-3">Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for submission in submissions %}
                            <tr>
                                <td>{{ submission.title }}</td>
                                <td>{{ submission.module }}</td>
                                <td>
                                    <pre lang="json"
                                         style="max-height: 250px;">{{ submission.files | tojson(indent=2, sort_keys=True) }}</pre>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
