{% extends "dashboard/base.html" %}

{% block dashboard_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <h1 class="page-header">My submissions</h1>
                <div class="table-responsive">
                    <table class="table table-striped"
                           style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th class="col-sm-1">Title</th>
                            <th class="col-sm-1">Module</th>
                            <th class="col-sm-1">Submitted on</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for submission in submissions %}
                            <tr>
                                <td>{{ submission.title }}</td>
                                <td>{{ submission.module }}</td>
                                {% if submission._id %}
                                    <td>
                                        <script>
                                            document.write(moment("{{ submission._id.generation_time }}").format("ddd, MMM D YYYY HH:mm:ss"));
                                        </script>
                                    </td>
                                {% else %}
                                    <td>Unknown</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
