{% extends "dashboard/base.html" %}

{% block dashboard_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <h1 class="page-header">View submission</h1>

                <dl class="dl-horizontal">
                    <dt>Full name</dt>
                    <dd>{{ submission.full_name }}</dd>

                    <dt>Title</dt>
                    <dd>{{ submission.title }}</dd>

                    <dt>Module</dt>
                    <dd>{{ submission.module }}</dd>

                    <dt>Submitted on</dt>
                    <dd>
                        {% if submission._id %}
                            <script>
                                document.write(moment("{{ submission._id.generation_time }}").format("ddd, MMM D YYYY HH:mm"));
                            </script>
                        {% else %}
                            Unknown
                        {% endif %}
                    </dd>

                    <dt>Graph</dt>
                    <dd>
                        {% if submission.scatter_chart %}
                            {{ submission.scatter_chart.render() | safe }}
                        {% else %}
                            No graph found
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
